#scoreDiv
{
    position: relative;
    width: 400px;
    height: 50px;
    
    margin-left: 700px;
    font-size: 30px;
}

#drawArea
{
    border: blue 10px inset;
    width: 75%;
}
.button {
    background-color: #000000;
    border: none;
    box-shadow: 20px#505050;
    padding: 15px;
    text-align: center;
    font-size: 12px;
    margin-left: 20px;
    
  }
  
  .button:hover {
    background-color: #3F3F3F;
  }
  
  .button:active {
    box-shadow: 5px #3D3D3D;
    transform: translateY(5px);
  }
  
  .red {
    color: #FF0000;
  }
  
  .green {
    color: #00FF00;
  }
  
  .blue {
    color: #0000FF;
  }
  
  .yellow {
    color: #FFFF00;
  }
  .magenta {
    color: #FF00FF;
  }
  
  .round {
    border-radius: 20%;
  }
  